<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Capacitor Info -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Capacitor Info</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="arrow-forward" slot="start"></ion-icon>
          <strong>Platform name: </strong>
        </ion-item>
        <ion-item>
          <ion-icon name="arrow-forward" slot="start"></ion-icon>
          <strong>Native platform: </strong>
        </ion-item>
        <ion-item>
          <ion-icon name="arrow-forward" slot="start"></ion-icon>
          <strong>Camera available: </strong>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Device Info 2 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Device Info</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="arrow-forward" slot="start"></ion-icon>
          <strong>Name: </strong>
        </ion-item>
        <ion-item>
          <ion-icon name="arrow-forward" slot="start"></ion-icon>
          <strong>Operation system: </strong>
        </ion-item>
        <ion-item>
          <ion-icon name="arrow-forward" slot="start"></ion-icon>
          <strong>OS version: </strong>
        </ion-item>
        <ion-item>
          <ion-icon name="arrow-forward" slot="start"></ion-icon>
          <strong>Manufacturer: </strong>
        </ion-item>
        <ion-item>
          <ion-icon name="arrow-forward" slot="start"></ion-icon>
          <strong>Is virtual: </strong>
        </ion-item>
        <ion-item>
          <ion-icon name="arrow-forward" slot="start"></ion-icon>
          <strong>UUID: </strong>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

    <!-- Battery Info 3 -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Battery Info</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-icon name="arrow-forward" slot="start"></ion-icon>
            <strong>Battery lavel: </strong>
          </ion-item>
          <ion-item>
            <ion-icon name="arrow-forward" slot="start"></ion-icon>
            <strong>Is charging: </strong>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    
    <!-- Network Info 3 -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Network Info</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-icon name="arrow-forward" slot="start"></ion-icon>
            <strong>State network: </strong>
          </ion-item>
          <ion-item>
            <ion-icon name="arrow-forward" slot="start"></ion-icon>
            <strong>Type network: </strong>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

</ion-content>
